# Ignore all sp2 files, because they are for testing purposes
*.sp2
*.txt
*~
*.swo
*.swp
*.o
*.so
*arpessimist/src/*.so
*arpessimist/src/*.pyd
*arpessimist/src/*.dll
.*
!.gitignore
!.appveyor.yml
!requirements.txt
*.json
logo/
PythonNiels/
zDisp/
__pycache__/
testvirt/
test_qtgraph.py
build/
dist/
arpessimist.egg-info/
# !fortran_routines/kmaps.f90
# !fortran_routines/test_kmaps.f90
# !fortran_routines/compile.sh
