# Ignore all sp2 files, because they are for testing purposes
*.sp2
*.txt
*~
*.swo
*.swp
*arpessimist/src/*.so
*arpessimist/src/*.pyd
*arpessimist/src/*.dll
!requirements.txt
*.json
logo/
PythonNiels/
zDisp/
__pycache__/
fortran_routines/a.out
fortran_routines/*.mod
fortran_routines/*.o
fortran_routines/*.so
fortran_routines/*.pyf
testvirt/
test_qtgraph.py
build/
dist/
# !fortran_routines/kmaps.f90
# !fortran_routines/test_kmaps.f90
# !fortran_routines/compile.sh
